*{
  padding: 0;
  margin: 0;
}
.body {
    font-family: "proxima-nova", sans-serif;
    margin: 0;
    font-size: 14px;
  }
  .navbar {
    position: fixed;
    z-index: 1;
    max-height: 80px;
    background-color: white;
    padding: 20px;
    width: 100%;
  }
  .container{
    position: relative;
    min-width: 1200px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .logo {
    height: 40px;
    width: 40px;
  }

  .location {
    display: flex;
    margin-left: 30px;
    align-items: center;
    cursor: pointer;
  }

  .city {
    color: #3d4152;
    display: flex;
    flex-direction: column;
  }

  .underline_pune {
    height: 2px;
    left: 0;
    bottom: -5px;
    width: 100%;
    margin-top: 5px;
    background-color: #3d4152;
  }

  .city:hover {
    color: orange;
  }

  .underline_pune:hover {
    background-color: orange;
  }

  .state {
    margin-left: 7px;
    margin-bottom: 3px;
    font-weight: 200;
    width: 200px;
  }

  .navbar-options {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .navbar-option {
    display: flex;
    align-items: center;
    margin-left: 60px;
    cursor: pointer;
    max-width: 200px;
    color: #3d4152;
  }

  .navbar-option:hover {
    color: orange;
  }
  .offers {
    background-color: #171a29;
    height: 373px;
    width: 100%;
  }

  .offer {
    width: 260px;
    height: 260px;
    padding: 30px;
    padding-top: 95px;
    padding-left: 20;
    padding-right: 20;
    cursor: pointer;
  }

  .offer:hover {
    transform: scale(1.05);
  }

  .restaurants-header {
    margin-top: 60px;
    display: flex;
  }

  .restaurant-count {
    font-size: 30px;
    font-weight: 700;
  }
  .navs2{
    display: flex;
    flex-direction: row-reverse;
    width: 980px;
  }

  .nav2{
    display: flex;
    align-items: center;
    margin-left: 60px;
    cursor: pointer;
    max-width: 200px;
    color: #686B78;
  }
  .nav2:hover{
    color: orange;
  }

  .divider {
    margin-top: 10px;
    border-top: 1px solid #e9e9e9;
    height: 1px;
    width: 100%;
  }

  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

  .restaurant {
    width: 254px;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    contain: content;
    /* margin-top: 10px; */
    padding: 20px 15px 57px;
    cursor: pointer;
    border: 1px solid #fff;
  }

  .restaurant:hover {
    box-shadow: 0 2px 4px 0 rgb(48, 56, 97);
    /* border: 0.2px solid rgb(211,207,207); */
  }

  .restaurant-image {
    width: 254px;
    height: 160px;
  }

  .restaurant-name {
    margin-top: 14px;
    font-size: 17px;
    font-weight: 500;
  }

  .restaurant-dishes {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 300;
  }

  .restaurant-info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .restaurant-ratings {
    background-color: #48c479;
    color: white;
    padding: 2px 5px 2px 0;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .star-icon {
    transform: scale(0.7);
  }

  .restaurant-delivery-time {
    color: #686b78;
    font-size: 13px;
    text-transform: uppercase;
  }

  .restaurant-cost-for-two {
    color: #686b78;
    font-size: 13px;
    text-transform: uppercase;
  }

  .restaurant-discount {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    color: #8a584b;
  }

  .restaurant-discount-text {
    padding-left: 10px;
  }